
<footer class="pt-5 p-5 bg-primary fw-bold">
  <div class="container">
    <h2 class="py-4 fs-1 fw-bolder">FofyConsolas</h2>
    <div class="row text-center">
      <div class="col-12 col-md-4">
        <h3>¿Quienes somos?</h3>
        <p>Somos un equipo apasionado de entusiastas de los videojuegos que se han unido para crear un espacio dedicado a explorar, compartir y disfrutar del vasto mundo de los videojuegos. </p>
      </div>
      <div class="col-12 col-md-4">
        <h3>¿Que hacemos?</h3>
        <p>En nuestro blog, nos dedicamos a explorar y compartir el mundo de los videojuegos en toda su amplitud. Ofrecemos reseñas detalladas, artículos de opinión, noticias relevantes, guías útiles y cobertura de eventos importantes en la industria.</p>
      </div>
      <div class="col-12 col-md-4">
        <h3>Contacto</h3>
        <p>Correo: Guillle912gmail.com</p>
        <i class="bi bi-twitter-x pe-1">Twitter</i>
        <i class="bi bi-twitch pe-1">Twitch</i>
        <i class="bi bi-youtube pe-1">Youtube</i>
        <i class="bi bi-facebook pe-1">Facebook</i>
      </div>

    </div>
  </div>
</footer>
<div class="row">
  <div class="col-12 text-light text-center pt-3 bg-secondary">
    <p class="text-center">Pagina creada por Guillermo Vidal como practica de Angular para IDBOOTCAMPS</p>
    <p>&copy;2023</p>
  </div>

</div>

