nav{


  color: white;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  list-style: none;
  display: flex;
  margin: 0;
}

ul li{
  display: block;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.5s;

  &:hover{
    color: #052b659c;
  }
}


.rrss{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E0F4FF;
  padding: 10px;
}


.menu-busqueda{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
