<nav class="rrss text-primary-emphasis">
  <ul>
    <li><i class="bi bi-twitter-x pe-1"></i></li>
    <li><i class="bi bi-twitch pe-1"></i>  </li>
    <li><i class="bi bi-youtube pe-1"></i></li>
    <li><i class="bi bi-facebook pe-1"></i></li>
    <li><i class="bi bi-instagram pe-1"></i></li>
  </ul>
</nav>

<nav class="bg-primary">
  <div class="container py-3">
    <div >
      <h2 class="titulo"><i class="bi bi-controller"></i> FoFyConsolas.</h2>
    </div>
    <ul>

      <li class="fw-bold" routerLink="home">Inicio</li>
      <li class="fw-bold" routerLink="new-post">Nuevo Post</li>
    </ul>
  </div>
</nav>


<!-- <ul>
  <li>Accion-Aventura</li>
  <li>Plataformas</li>
  <li>Rol</li>
  <li>Rpg</li>
  <li>Accion</li>
  <li>Simulacion</li>
</ul> -->
