<nav class="rrss">
  <ul>
    <li><i class="bi bi-twitter-x pe-1"></i></li>
    <li><i class="bi bi-twitch pe-1"></i>  </li>
    <li><i class="bi bi-youtube pe-1"></i></li>
    <li><i class="bi bi-facebook pe-1"></i></li>
  </ul>
</nav>

<nav>
  <div class="container py-3">
    <div>
      <h2>FoFiConsolas.</h2>
    </div>
    <ul>

      <li >Inicio</li>
      <li >Nuevo Post</li>
    </ul>
  </div>
</nav>

<nav class="menu-busqueda mb-5">
  <ul>
    <li>Accion-Aventura</li>
    <li>Plataformas</li>
    <li>Rol</li>
    <li>Rpg</li>
    <li>Accion</li>
    <li>Simulacion</li>
  </ul>

</nav>
