@import url(https://fonts.googleapis.com/css?family=Edu+TAS+Beginner:regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Changa:200,300,regular,500,600,700,800);
nav{


  color: white;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul{
  list-style: none;
  display: flex;
  margin: 0;
}

ul li{
  display: block;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.5s;

  &:hover{
    color: #052b659c;
  }
}


.rrss{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E0F4FF;
  padding: 10px;
}


.menu-busqueda{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}


.titulo{
  font-family: 'Changa', sans-serif;
  font-size: 60px;
  font-weight: 800;
}




@media (max-width: 700px){

  .container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .titulo{
    font-family: 'Changa', sans-serif;
    font-size: 40px;
    font-weight: 800;
  }
}
