img{
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.parrafo{
  font-size: 16px;

}

figure{
  width: 100%;
  padding:20px 0;
}

.imagenes{
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .imagen{
    width: calc(50% - 10px);
  }
}
